/* common css start */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.container{
    width:1200px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
/* .section_info{
    text-align: center;
} */

.section_info h3{
    font-size: 30px;
    color: #566366;
    text-transform: uppercase;
}

.section_info p{
    font-size: 18px;
    color: #919191;
}
/* common css end */

/* nav section css start */
nav{
    background: #252d2f;
}

nav .row{
    width: 1200px;
    margin: auto;
    align-items: center;
}

nav .logo{
    width: 15%;
}

nav .logo img{
    display: block;
}

nav .menu{
    width: 85%;
}

nav .menu ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

nav .menu ul li a{
    color:  #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 27px 20px;
    display: inline-block;
    transition: 0.7s;
}

nav .menu ul li:hover a{
    color: #2ecc71;
    background: #ffffff;
}
/* nav section css end */

/* banner section css start */
#banner{
    background: url(../image/banner_bg.jpg);
    height: 1000px;
    background-size: cover;
    background-position: center;
}

#banner .container{
    height: 100%;
    text-align: center;
}

#banner .row{
    height: 100%;
    align-items: center;
    justify-content: center;
}

#banner .banner_content h1{
    font-size: 60px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    border-top: 2px solid #ffffff;
    border-bottom: 1px solid #ffffff;
    margin: 50px auto;
}

#banner .banner_content a{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    background: transparent;
    border: 2px solid #ffffff;
    padding: 15px 42px;
}
/* banner scetion css end */

/* bio section css start */
#bio{
    padding: 90px 0;
}

#bio .bio_item{
    width: calc(100% / 3);
    text-align: left;
}

#bio .bio_item h3{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #566366;
    margin-bottom: 40px;
}

#bio .bio_item p{
    font-size: 18px;
    color: #919191;
    line-height: 30px;
}
/* bio section css end */

/*about section css start*/
#about{
    background: #f1f1f1;
    position: relative;
}
#about::after{
    position: absolute;
    content: '';
    width: 60px;
    height: 60px;
    background: #f1f1f1;
    bottom: -20px;
    left: 50%;
    transform: rotate(45deg);
}
#about .about_image{
    width: 30%;
}
#about .section_info{
    width: 70%;
    padding: 100;
}
#about .section_info p{
    width: 690px;
}
#about .about_item{
    width: 25%;
    text-align: center;
    padding: 52px;
}
#about .about_item_icon{
    width: 70px;
}
#about .about_item h4{
    font-size: 22px;
    font-weight: 700;
    color: #566366;
    margin: 19px 0;
}
#about .about_item p{
    font-size: 18px;
    color: #919191;
}
/*about section css end*/

#skill{
    padding: 100px 0;
}
#skill .content{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
#skill .left{
    width: 50%;
}
#skill .left h3{
    text-align: left;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: #566366;
}
#skill .left p{
    font-size: 18px;
    color: #566366;
    margin: 25px 0;
    margin-bottom: 50px;
}
#skill .left a{
    font-size: 18px;
    color: #33cc66;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #33cc66;
    padding:  19px 37px;
}
#skill .right{
    width: 50%;
    margin-left: 90px;
}
#skill .right .full{
    width: 100%;
    background: #f1f1f1;
}
#skill .right h4{
    font-size: 22px;
    color: #566366;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 39px;
    margin-bottom: 19px;
}
#skill .right .photoshop{
    width: 90%;
    background: #2dcb71;
    text-align: right;
}
#skill .right .illustrator{
    width: 80%;
    background: #2dcb71;
    text-align: right;
}
#skill .right .html{
    width: 90%;
    background: #2dcb71;
    text-align: right;
}
#skill .right .php{
    width: 70%;
    background: #2dcb71;
    text-align: right;
}

/*resume section css start*/

#resume{
    background: #f1f1f1;
    padding: 100px;
}
#resume .resume_info{
    text-align: center;
}
#resume .resume_info h3{
    font-size: 30px;
    color: #566366;
    text-transform: uppercase;
    font-weight: 700;
}
#resume .resume_info p{
    font-size: 18px;
    color: #566366;
    padding: 50px;
    line-height: 30px;
}
#resume .resume_info a{
    font-size: 18px;
    color: #33cc66;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid #33cc66;
    padding:  15px;
}
/*resume section css end*/

/* portfolio section css start */
#portfolio{
    padding: 80px 0;
}
#portfolio .container .section_info{
    text-align: center;
}
#portfolio .section_info h2{
    font-size: 30px;
    font-weight: 700;
    color: #566366;
    text-transform: uppercase;
}
#portfolio .section_info p{
    width: 1025px;
    font-size: 18px;
    color: #919191;
    padding: 48px 80px;
}
#portfolio .my_work{
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
}
#mywork .my_work .work-item{
    margin-top: 39px;
}
#portfolio .work_item{
    width: 33.33%;
    position: relative
}
#portfolio .work_item .overlay{
    position: absolute;
    background: rgba(45, 203, 112, 0.55);
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .05s;
}
#portfolio .work_item:hover .overlay{
    opacity: 1;
    visibility: visible;
}
/* portfolio section css end */

/*footer section css start*/
#footer{
    background: #252d2f;
    margin: 100px 0;
}
#footer .footer-info{
    color: #fff;
    width: 50%;
}
#footer .footer-info h2{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 96px 0 40px;
}
#footer .footer-info p{
    font-size: 18px;
    color: #919191;
    width: 550px;
}
#footer .footer-info address{
    font-size: 18px;
    color: #919191;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 40px;
}
#footer .footer-form{
    width: 50%;
}
#footer .container{
    display: flex;
    flex-wrap: wrap;
}
#footer .footer-form input,
#footer .footer-form textarea{
    display: block;
    width: 100%;
    background: #4b5456;
    border: none;
    font-size: 18px;
    padding: 15px 20px;
    color: #fff;
}
#footer .footer-form label{
    display: block;
    margin: 39px 0 19px;
    color: #fff;
}
#footer .footer-form label span{
    color: #919191;
}
#footer .footer-form textarea{
    resize: vertical;
    height: 278px;
}
#footer .footer-form button{
    background: #191f21;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 100px;
    padding: 22PX 52px;
    border: none;
}
/*footer section css end*/